asn1crypto==0.24.0
awscli==1.18.161
botocore==1.19.1
colorama==0.4.3
cryptography==2.1.4
Django==1.11.29
docutils==0.15.2
enum34==1.1.6
idna==2.6
ipaddress==1.0.17
jmespath==0.10.0
keyring==10.6.0
keyrings.alt==3.0
pyasn1==0.4.8
pycrypto==2.6.1
python-dateutil==2.8.1
pytz==2021.1
pyxdg==0.25
PyYAML==5.3.1
rsa==4.5
s3transfer==0.3.3
SecretStorage==2.3.1
six==1.15.0
urllib3==1.25.11
virtualenv==16.7.9
